body {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
  line-height: 1.5;
  padding: 40px 5% 0;
}

a:link, a:visited {
  color: #0000ab;
}

p {
  margin: 0 0 18px 0;
}

img {
  border: none;
}
