body{font-size:14px;font-family:"HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:200;line-height:1.5;padding:40px 100px;}
p{margin:0 0 18px 0;}
img{border:none;}
#foot{font-size:12px;}
