/**
 * CSS styles for Shadowbox.
 */

/*_____________________________________________  container, overlay, & wrapper  */
#sb-container {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: left;
  visibility: hidden;
}
#sb-overlay {
  position: relative;
  height: 100%;
  width: 100%;
}
#sb-wrapper {
  position: absolute;
  visibility: hidden;
}
#sb-wrapper img {
  border: none;
}

/*____________________________________________________________________  body  */
#sb-body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #303030;
}
#sb-body-inner {
  position: relative;
  height: 100%;
  display: block;
}
#sb-player.html {
  height: 100%;
  overflow: auto; /* make html content scrollable */
}

/*_________________________________________________________________  loading  */
#sb-loading {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 10px;
}
#sb-body, #sb-loading {
  background-color: #060606; /* should match loading image background color */
}

/*____________________________________________________________  title & info  */
#sb-title, #sb-info {
  position: relative;
  margin: 0; /* these must have no vertical margin or padding */
  padding: 0;
  overflow: hidden;
}
#sb-title-inner, #sb-info-inner {
  position: relative;
  font-family: 'Lucida Grande', Tahoma, sans-serif;
}
#sb-title, #sb-title-inner {
  height: 26px;
  line-height: 26px;
}
#sb-title-inner {
  font-size: 16px;
  color: #fff;
}
#sb-info, #sb-info-inner {
  height: 20px;
  line-height: 20px;
}
#sb-info-inner {
  font-size: 12px;
  color: #fff;
}

/*_____________________________________________________________________  nav  */
#sb-nav {
  float: right;
  height: 16px;
  padding: 2px 0;
  width: 45%;
}
#sb-nav a {
  display: block;
  float: right;
  height: 16px;
  width: 16px;
  margin-left: 3px;
  cursor: pointer;
  background-repeat: no-repeat;
}
#sb-nav-close {
  background-image: url(close.png);
}
#sb-nav-next {
  background-image: url(next.png);
}
#sb-nav-previous {
  background-image: url(previous.png);
}
#sb-nav-play {
  background-image: url(play.png);
}
#sb-nav-pause {
  background-image: url(pause.png);
}

/*_________________________________________________________________  counter  */
#sb-counter {
  float: left;
  width: 45%;
}
#sb-counter a {
  padding: 0 4px 0 0;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
#sb-counter a.sb-counter-current {
  text-decoration: underline;
}

/*________________________________________________________________  messages  */
div.sb-message {
  font-family: 'Lucida Grande', Tahoma, sans-serif;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}
div.sb-message a:link, div.sb-message a:visited {
  color: #fff;
  text-decoration: underline;
}
